@font-face {
  src: url("font/BMHANNAAir_otf.otf");
  font-family: BM HANNA Air OTF;
}
@font-face {
  src: url("font/NanumSquareOTFLight.otf");
  font-family: NanumSquareOTF;
}
body{
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}
div {
  box-sizing: border-box;
}
button{
  all: unset;
}
.modalBack{  
  width: 100%;
  height: 100%;
  padding: 5%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10;
}
.modal{
  background-color:rgba(0, 0, 0, 0);
  width: 0%;
  height: 100%;
  padding-left: 72%;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 11;
}
.sel{
    font-family: NanumSquareOTF;
    font-style: normal;
    font-weight: lighter;
    font-size: 40px;
    line-height: 43px;

    width: 100%;
    height: 60px;
    padding: 7px 8px 6px 7px/9;

    color: #000;
    border: none;
    border-radius: none;
    *height: auto;
    -webkit-appearance: none;

    outline: 0;
    text-decoration: none;
    cursor: pointer;
    -webkit-text-size-adjust: none;
    background-color: rgba(255, 255, 255, 0);
}
.box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.btwn{
  justify-content: space-between;
  align-items: flex-start;
}

.tags{
  flex-basis: 450px;
}
hr{
  border: none;
  background-color: #696969;
  height: 1px;
  margin: 10px;
}
.fontF{
  font-family: BM HANNA Air OTF;
  font-style: normal;
  font-weight: normal;
}
.tag{
  font-size: 25px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  padding: 4px 15px;
  margin: 10px 2px;
  background: #000;
  border-radius: 100px;
}
.pics{
  flex-basis: 60%;
  flex-grow: 1;
}
.item{
  flex-basis: 200px;
  flex-grow: 1;
  margin: 10px;
}
.img{
  height: 0;
  padding-top: 72%;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  margin: 0;
  cursor: pointer;
}
.imgborder{
  border: solid 1px #b9b9b9;
}
.desc{
  background: #fff;
  border: solid 1px #b9b9b9;
  color: #9e9e9e;
  font-size: 15px;
  line-height: 16px;
  margin: 5px 0px;
}
.nums{
  background: #e4e4e4;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
  cursor: default;
  position: relative;
}
.score{
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  color: #fff
}
.header{
  font-family: NanumSquareOTF;
  font-size: 12px;
  line-height: 13px;
}
.data{
  font-size: 35px;
}
.view{
  display: none;
}
.close{
  color: #fff;
  font-size: 60px;
  float: right;
  cursor: pointer;
}
.modal-close{
  color: #fff;
  font-size: 60px;
  float: center;
  cursor: pointer;
}
.zero{
  background-color: #e4e4e4;
}
.low{
  background-color: #feb326;
}
.middle{
  background-color: #38bfa7;
}
.high{
  background-color: #54cefe;
}
.master{
  background-color: #7f58af;
}
.grey{
  background-color: #9e9e9e;
}
.standard{
  width: 200px;
  height: 200px;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 40%;
  margin: 10px;
  margin-bottom: 20px;
}
.standards{
  background-color: rgb(136, 136, 136);
  width: 900px;
  position: absolute;
  border-radius: 100px;
  top: 100px;
  justify-content: center;
  z-index: 1;
}
.rating{
  color: #fff;
  font-size: 16px;
  line-height: 17px;
  margin-top: 10px;
}
.point-cursor{
  cursor: pointer;
}
.univInfo {
  margin: auto;
  width: 95%;
  padding: 5px;
  border-top: 1px solid #d2d2d7;
}
.univ-name {
  font-size: 40px;
  align-items: center;
}
.univDepart{
  flex-basis: 20%;
}
.univScore{
  flex-basis: 30%;
}
.month{
  flex-basis: 100px;
  padding-left: 10px;
}
.numeral{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
  cursor: default;
  align-content: center;
}
.align-center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 30%;
}
.fixed{
  width: 400px;
  position: fixed;
  bottom: 10%;
}
.deselect{
  background-color: #afafaf;
}
.select{
  background-color: #54cefe;
}
.select-box{
  font-family: NanumSquareOTF;
  font-style: normal;
  font-weight: lighter;
  font-size: 23px;
  line-height: 24px;

  width: 70%;
  height: 50px;

  color: #000;
  border: none;
  border-radius: 25px;
  *height: auto;
  -webkit-appearance: none;

  outline: 0;
  text-decoration: none;
  cursor: pointer;
  -webkit-text-size-adjust: none;

  background: rgba(0, 0, 0, 0.06);
  /* background-color: #eeeeee; */
  padding: 0 20px;
}
.logo{
  width: 49px;
  height: 49px;
  border-radius: 50%;
}
.top{
  height: 10px;
}
.edu-pics{
  flex-basis: 400px;
  flex-grow: 1;
  margin: 10px;
}
.edu-pic{
  height: 0;
  padding-top: 72%;
  border: solid 1px #b9b9b9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  margin: 0;
  cursor: pointer;
}
.box-pics{
  width: 96%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.edu-btn{
  font-size: 14px;
  line-height: normal;
  text-align: center;
  color: #FFFFFF;
  padding: 4px 10px;
  margin: 2px 2px;
  border-radius: 100px;
}
.comp-close{
  background-color: #00A99D;
}
.comp-main{
  background-color: #F04E23;
}
.comp-point{
  background-color: #ffbc02;
}
.comp-bottom{
  background-color: #903F98;
}
.comp-top{
  background-color: #0072BC;
}
.comp-middle{
  background-color: #B8887B;
}
.comp-distant{
  background-color: #95B6DF;
}
.comp-far{
  background-color: #BCBEC0;
}
.comp-bal{
  background-color: #252525;
}

.edu-modal-back{  
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 4%;
  position: fixed;
}
.edu-modal{
  width: 100%;
  height: 100%;
  margin: auto;
  border: none;

  overflow-y: scroll;
}
.edu-modal::-webkit-scrollbar { 
  display: none; 
}
.text-head{
  font-size: 24px;
  text-align: left;
  color: #fff;
  padding:4px;
  border-bottom-width: thin;
  border-bottom-color: #fff;
  border-bottom-style: dashed;
}
.text-explain{
  font-size: 20px;
  border-bottom-style: none;
}
.modal-img{
  width: 100%;
  margin: 5px 0px;
  border-radius: 5px;
}
.exp-pic{
  width: 30%;
  flex-basis: 30%;
  flex-grow: 1;
  margin: 4px;
  border-radius: 5px;
}
.of-hidden{
  overflow: hidden;
}
.bottom{
  padding-bottom: 20px;
}
.exp-pic-big{
  height: 0;
  padding-top: 72%;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  margin: 4px;
}
.box-nav{
  width: 96%;
  margin: 6px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.border1{
  border: solid 1px rgba(0, 0, 0, 0.2);
}
.icons{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.items-align-center{
  align-items: center;
}
.footer{
  width: 250px;
  margin: 10px;
}
.align-top{
  align-items: flex-start;
}
.jc-center{
  justify-content: center;
  margin: auto;
}
.entrance{
  width: 100%;
  height: 700px;
  background-image: url(cover10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.tab-ds{
  width: 50%;
  padding: 10px;
  border-bottom: solid thin rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.tab-s{
  border-bottom: solid thin #000;
  color: #000;
}
.entrance2{
  width: 100%;
  height: 1080px;
  background-image: url(assets/cover3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.directions{
  padding: 10px;
}
.overlapping{
  width: 91%;
  padding-top: 128%;
  background-image: url(comp-standard11.png);
  filter: saturate(140%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  mix-blend-mode: multiply;
  opacity: 0.7;
  position: fixed;
  z-index: 20;
  margin: auto;
}
.blend{
  mix-blend-mode: hard-light;
  opacity: 0.5;
  z-index: 22;
}
#camera--view{
  filter: grayscale(100%) contrast(140%);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  object-fit: cover;
  margin: auto;
}
